@tailwind base;@tailwind components;@tailwind utilities;*{box-sizing:border-box}
body{
  background-image: url("/bg1.png");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;  
}
.switch__input:checked+.switch__label{background-color:#8fb5f5}.fullscreen{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;background-color:#fff}body.dark,html.dark{background-color:#404040}.dark .border{border-color:#747474}.dark .input{color:#fff;background-color:#fff}.switch{display:inline-block;position:relative}.switch__input{position:absolute;width:1px;height:1px;margin:-1px;padding:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);overflow:hidden}.switch__label{position:relative;display:inline-block;width:120px;height:60px;background-color:#2b2b2b;border:5px solid #5b5b5b;border-radius:9999px;cursor:pointer;transition:background-color .4s cubic-bezier(.46,.03,.52,.96),border-color .4s cubic-bezier(.46,.03,.52,.96)}.switch__indicator{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) translateX(-72%);width:40px;height:40px;background-color:#7b7b7b;border-radius:9999px;box-shadow:inset 10px 0 0 0 rgba(0,0,0,.2);transition:all .4s cubic-bezier(.46,.03,.52,.96)}.switch__indicator:after,.switch__indicator:before{content:"";position:absolute;background-color:#fff;border-radius:9999px}.switch__indicator:before{top:7px;left:7px;width:9px;height:9px;opacity:.6}.switch__indicator:after{bottom:8px;right:6px;width:14px;height:14px;opacity:.8}.switch__decoration{top:65%;left:50%;animation:twinkle .8s -.6s infinite}.switch__decoration,.switch__decoration:after,.switch__decoration:before{position:absolute;width:5px;height:5px;background-color:#fff;border-radius:9999px}.switch__decoration:after,.switch__decoration:before{content:""}.switch__decoration:before{top:-20px;left:10px;animation:twinkle .6s infinite}.switch__decoration:after{top:-7px;left:30px;animation:twinkle .6s -.2s infinite}@keyframes twinkle{50%{opacity:.2}}.switch__input:checked+.switch__label{background-color:#90b4f2;border-color:#347cf8}.switch__input:checked+.switch__label .switch__indicator{background-color:#ecd21f;box-shadow:none;transform:translate(-50%,-50%) translateX(72%)}.switch__input:checked+.switch__label .switch__indicator:after,.switch__input:checked+.switch__label .switch__indicator:before{display:none}.switch__input:checked+.switch__label .switch__decoration{top:70%;transform:translateY(-50%);width:20px;height:20px;animation:cloud 8s linear infinite}.switch__input:checked+.switch__label .switch__decoration:before{width:10px;height:10px;bottom:0;left:-8px;animation:none}.switch__input:checked+.switch__label .switch__decoration:after{width:15px;height:15px;bottom:0;left:16px;animation:none}@keyframes cloud{0%{transform:translateY(-50%)}50%{transform:translate(-50%,-50%)}to{transform:translateY(-50%)}}.plot-container{max-width:100%;min-height:600px;height:auto;padding:1rem;margin:0 auto}@media (max-width:1024px){.plot-container{padding:.5rem;min-height:400px;height:400px;width:400px}}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
  padding: 10px;
}

.sidebar.close {
  width: 75px;
}

.sidebar .logo {
  height: 60px;
 
  width: 100%;
  align-items: center;
}

.sidebar .logo .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  position: relative;
  top: 25px;
  left: 80px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo .logo-name {
  opacity: 0;
  pointer-events: none;

}

.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  width: 100%;
  position: relative;
  list-style: none;
  
  transition: all 0.4s ease;
}

.sidebar .nav-list li:hover {
  background-color: #1d1b31;
  border-radius: 5px;
  top: 5px;
}

.sidebar .nav-list li .icon-link {
 padding: 10px;
}

.sidebar.close .nav-list li .icon-link {
  
}

.sidebar .nav-list li img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.close .nav-list li img.arrow {
  display: none;
}

.sidebar .nav-list li.show img.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  transition: all 0.4s ease;
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  transition: all 0.3s ease;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-list li .sub-menu li {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-list li .sub-menu li:hover {
  opacity: 1;
}

.profile-details {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.sidebar.close .profile-details {
  background-color: none;
  width: 75px;
  
}

.profile-details .profile-content {
  display: flex;
  align-items: center;
}

.profile-details .profile-content img {
  height: 50px;
  width: 40px;
  object-fit: cover;
  margin: 0 14px 0 12px;
  background-color: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details .profile-content img {
  margin-left: 15px;
}

.profile-details .name-job .name,
.profile-details .name-job .job {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .name-job .name,
.sidebar.close .profile-details .name-job .job {
  opacity: 0;
  pointer-events: none;
}

.profile-details .name-job .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  height: 100vh;
  width: calc(100% - 260px);
  left: 260px;
  background-color: #e4e9f7;
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  display: flex;
  height: 60px;
  align-items: center;
}

.home-section .home-content i,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}

.home-section .home-content i {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sidebar.close .nav-list li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

.menuToggle {
  position: fixed;
  top: 30px;
  left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: rgb(246, 197, 0);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuToggle2{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: rgb(246, 197, 0);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuToggle::before,.menuToggle2::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  transform: translateY(-9px);
  transition: 0.5s;
  box-shadow: 0 9px 0 #fff;
}

.menuToggle::after,.menuToggle2::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  transform: translateY(9px);
  transition: 0.5s;
}

.menuToggle.active::before,.menuToggle2.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #fff;
  background-color: black;
}

.menuToggle.active::after,.menuToggle2.active::after {
  transform: translateY(0px) rotate(310deg);
}

.menuToggle.active,.menuToggle2.active {
  background-color: purple;
  transition: 0.5s;
}

img {
  margin-right: 10px;
}
