@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure it's on top */
    background-color: white /* Optional: make background black */
  }
  html.dark, body.dark {
    background-color: #404040;
     /* Or another dark color you prefer */
}
.dark .border{
  border-color: #747474;
}
.dark .input {
  color: white; /* Change text color to white */
  background-color: white ; /* Change text color to white */
}
.switch {
  display: inline-block;
  position: relative;
}

.switch__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  background-color: #2B2B2B;
  border: 5px solid #5B5B5B;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96), border-color 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  width: 40px;
  height: 40px;
  background-color: #7B7B7B;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__indicator::before,
.switch__indicator::after {
  content: '';
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 9999px;
}

.switch__indicator::before {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  opacity: 0.6;
}

.switch__indicator::after {
  bottom: 8px;
  right: 6px;
  width: 14px;
  height: 14px;
  opacity: 0.8;
}

.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}

.switch__decoration::before,
.switch__decoration::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 9999px;
}

.switch__decoration::before {
  top: -20px;
  left: 10px;
  animation: twinkle 0.6s infinite;
}

.switch__decoration::after {
  top: -7px;
  left: 30px;
  animation: twinkle 0.6s infinite -0.2s;
}

@keyframes twinkle {
  50% { opacity: 0.2; }
}

.switch__input:checked + .switch__label {
  background-color: #8FB5F5;
  border-color: #347CF8;
}

.switch__input:checked + .switch__label .switch__indicator {
  background-color: #ECD21F;
  box-shadow: none;
  transform: translate(-50%, -50%) translateX(72%);
}

.switch__input:checked + .switch__label .switch__indicator::before,
.switch__input:checked + .switch__label .switch__indicator::after {
  display: none;
}

.switch__input:checked + .switch__label .switch__decoration {
  top: 70%;
  transform: translate(0%, -50%);
  width: 20px;
  height: 20px;
  animation: cloud 8s linear infinite;
}

.switch__input:checked + .switch__label .switch__decoration::before {
  width: 10px;
  height: 10px;
  bottom: 0;
  left: -8px;
  animation: none; 
}

.switch__input:checked + .switch__label .switch__decoration::after {
  width: 15px;
  height: 15px;
  bottom: 0;
  left: 16px;
  animation: none; 
  
}

@keyframes cloud {
  0% { transform: translate(0%, -50%); }
  50% { transform: translate(-50%, -50%); }
  100% { transform: translate(0%, -50%); }
}
